.CW{
    cursor: pointer;
    width: 50px;
}
strong{
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
    align-content: center;
}
li {
    display: inline-block;
    margin: 10px;
    cursor: pointer;
    align-content: center;
}
